@charset "UTF-8"
* {

    height: 100px;
    
}
body {
    background-image: linear-gradient(to top, black, #24071d, #5b1658);
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
}

.container {
    display: flex;
}
.conteudo {
    display: flex;
}
p {
    text-align: justify;
    margin-right: 10px;
}

main {
    margin: 100px;
background-color: white;
border-radius: 20px;
}
img {
    margin-left: 20px;
}
